    <div class="row">
      <h1 class="heading center-align">About Us</h1>
    </div>

<main class="container faq">
  <p class="secondary"><img class="chef" src="images/chef.jpg">
    Mariia's Bake Shop was founded by Mariia in 2008 in the mini-kitchen of a Russian studio apartment. Demand grew rapidly, and in the spring of 2010, Mariia opened her first storefront in Serbia.  In 2013 the store again expanded, moving to its current location in New York, right next to Wall Street.
  </p>

  <p class="secondary">
    Coming from meager origins with not much capital or resources, our constant and unwavering focus from the very beginning has been on achieving the absolute highest possible quality in everything we do. Sometimes we do our jobs so well it makes national news. Since 2010 we”ve been featured on Food Network, CNN, TLC, The New York Times, and countless others. In 2013 we were awarded the prestigious Best of New York award by Time Magazine for our amazing cakes and desserts.
  </p>

  <p class="secondary"><img class="chef2" src="images/chef2.jpg">
    We now have a large and talented staff of artists and bakers who are constantly pushing the limits of what is possible in our craft.Everything you see on the site and in our store, all the cakes, all the drinks, all the baked goodies, the store itself (right down to the tiled floor you’re walking on!): it was all done by us, by hand, the hard way.  Everything we make starts out life as flour, butter, sugar, and raw ingredients.  There are no “magic boxes” from which our cake comes.  We make all of our own buttercream, all of our own marshmallow fondant, all of our own gumpaste.  Everything.  From Scratch.  By hand.
  </p>

  <p class="secondary">
    The result?  It’s just plain better.  There are no secrets here.  No magic. No special abilities or powers.  Just hard work.  If our cakes look better,it”s because we spend more time on them.  If they taste better it’s because we go through the work of making actual food instead of having processed stuff shipped in.  We care about our food, because you care about it too.
  </p>

</main>

<!--- Originally taken from Oakleaf Cake Bake Shop's About Us section -->