    <div class="row">
      <h1 class="heading center-align">Cakes</h1>
    </div>


    <div class="content row">

    
      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cakes/berry-mirror-cake.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Berry Mirror Cake</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $99.99 whole / $9.99 slice
            </p>
          </div>
          <div class="card-reveal"  style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">
              Berry Mirror Cake
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Berry Mirror Cake is a shiny cake made by pouring a delicious chocolate sugar glaze that has gelatin in it over a frozen cake, called an entremet (oooh so french). You can use a variety of colors and shaped molds to make the frozen cake to get that super reflective surface which is how the cake got it's name.</p><br>
            <p>$99.99 whole / $9.99 slice</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cakes/lemon-meringue-cake.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Lemon Meringue Cake</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $99.99 whole / $9.99 slice
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">
              Lemon Meringue Cake
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>This cake tastes just like lemon meringue pie! Fresh lemon flavor shines through in the custard filling between the layers, and the light meringue frosting adds a fancy finish. It's not only a deliciously different dessert, but it's also a conversation piece!</p><br>
            <p>$99.99 whole / $9.99 slice</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cakes/neapolitan-ice-cream-cake.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Neapolitan Ice Cream</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $99.99 whole / $9.99 slice
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Neapolitan Ice Cream
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>This Neapolitan Ice Cream Cake is a tasty combination of chocolate, strawberry, and vanilla ice cream. It’s reminiscent of the neapolitan ice cream sandwiches I ate as a kid and I didn’t want to stop eating it.</p><br>
            <p>$99.99 whole / $9.99 slice</p>
          </div>
        </div>
      </div>


    </div>

    <div class="content row">


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cakes/pomegranate-mousse-cake.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Pomegranate Mousse Cakes</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $99.99 whole / $9.99 slice
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Pomegranate Mousse Cakes
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Sky-high and scrumptious, this fluffy fruity-chocolaty delight is super to serve to company. You can put the pie together in a wink - and it'll disappear just as fast!</p><br>
            <p>$99.99 whole / $9.99 slice</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cakes/red-white-blue-cake.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Red, White, & Blue Cake</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $99.99 whole / $9.99 slice
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Red, White, & Blue Cake
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Spectacular Fourth of July Dessert! Present at night with a couple of sparklers for the best effect.</p><br>
            <p>$99.99 whole / $9.99 slice</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cakes/vanilla-white-cake.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Vanilla Cake with Blueberries</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $99.99 whole / $9.99 slice
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Vanilla Cake with Blueberries
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>This classic vanilla cake pairs fluffy vanilla cake layers with a silky vanilla buttercream. the perfect cake for birthdays, weddings, or any occasion!</p><br>
            <p>$99.99 whole / $9.99 slice</p>
          </div>
        </div>
      </div>


    </div>