<div class="row">
  <h1 class="heading center-align">Catalog</h1>
</div>

<main class="container">
<form id="form" method="POST">
  Name: <br>
    <input type="text" name="name" placeholder="First Name Only" size=15>
  <br>
  <br>
  E-Mail: <br>
    <input class="validate" type="email" name="to" placeholder="E-Mail" size=35>
  <br>            
  <br>
    <input class="btn waves-effect waves-light" type="submit" style="background-color: #CA1444; margin: 20px 0 100px 450px;">
  <br>
</form>
</main>