    <div class="row">
      <h1 class="heading center-align">Cookies</h1>
    </div>

    <div class="content row">

    
      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/brown-butter-mm-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>M&M Cookies</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $14.99 by the dozen / $1.50 per cookie
            </p>
          </div>
          <div class="card-reveal"  style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">
              M&M Cookies
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Cookies using M&Ms® candies, any variety. Old recipe-but ALWAYS a favorite!</p><br>
            <p>$14.99 by the dozen / $1.50 per cookie</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/sugar-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Sugar Cookies</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $14.99 by the dozen / $1.50 per cookie
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">
              Sugar Cookies
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>The perfect cookie to enjoy with either a warm cup of tea or a refreshing glass of milk. These cookies are extremely easy to make and are nice and crispy on the outside but chewy on the inside.</p><br>
            <p>$14.99 by the dozen / $1.50 per cookie</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/chocolatechip-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Chocolate Chip Cookies</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $14.99 by the dozen / $1.50 per cookie
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Chocolatechip Cookies
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Crisp edges, chewy middles. Just how Grammy intended it.</p><br>
            <p>$14.99 by the dozen / $1.50 per cookie</p>
          </div>
        </div>
      </div>


    </div>

    <div class="content row">


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/fudge-chocolate-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Fudge Chip Cookies</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $14.99 by the dozen / $1.50 per cookie
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Fudge Chip Cookies
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Chocoholics rejoice! These rich, intensely chocolatey cookies boast gooey, fudge-like interiors studded with two types of chocolate chips.</p><br>
            <p>$14.99 by the dozen / $1.50 per cookie</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/snickerdoodle-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Snickerdoodle Cookies</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $14.99 by the dozen / $1.50 per cookie
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Snickerdoodle Cookies
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>They may have an unusual name, but these rich cinnamon-sugar cookies are great for the holidays or anytime you want a tasty cinnamon treat.</p><br>
            <p>$14.99 by the dozen / $1.50 per cookie</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/raspberry-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Raspberry Cookies</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $14.99 by the dozen / $1.50 per cookie
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Raspberry Cookies
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Thumbprint cookies with a buttery base, filled with raspberry preserves and drizzled with an almond glaze. These raspberry thumbprint cookies are special to serve, yet easy on your baking budget.</p><br>
            <p>$14.99 by the dozen / $1.50 per cookie</p>
          </div>
        </div>
      </div>


    </div>