    <div class="row">
      <h1 class="heading center-align">Cookies</h1>
    </div>

    <div class="content row">

    
      <div class="col l3 push-l1">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/brown-butter-mm-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <p>Chocolate Caramel Cookies</p>
              <i class="material-icons right">more</i>
            </span>
            <p>
              Delicious cookies
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Chocolate Caramel Cookies
              <i class="material-icons right">close</i>
            </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/sugar-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <p>Chocolate Caramel Cookies</p>
              <i class="material-icons right">more_vert</i>
            </span>
            <p>
              Delicious cookies
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-2">Chocolate Caramel Cookies
              <i class="material-icons right">close</i>
            </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/chocolatechip-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <p>Chocolate Caramel Cookies</p>
              <i class="material-icons right">more_vert</i>
            </span>
            <p>
              Delicious cookies
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-2">Chocolate Caramel Cookies
              <i class="material-icons right">close</i>
            </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>


    </div>

    <div class="content row">


      <div class="col l3 push-l1">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/fudge-chocolate-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <p>Chocolate Caramel Cookies</p>
              <i class="material-icons right">more</i>
            </span>
            <p>
              Delicious cookies
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Chocolate Caramel Cookies
              <i class="material-icons right">close</i>
            </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/snickerdoodle-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <p>Chocolate Caramel Cookies</p>
              <i class="material-icons right">more</i>
            </span>
            <p>
              Delicious cookies
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Chocolate Caramel Cookies
              <i class="material-icons right">close</i>
            </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/cookies/raspberry-cookies.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <p>Chocolate Caramel Cookies</p>
              <i class="material-icons right">more_vert</i>
            </span>
            <p>
              Delicious cookies
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-2">Chocolate Caramel Cookies
              <i class="material-icons right">close</i>
            </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>


    </div>