<div class="row">
  <h1 class="heading center-align">Events</h1>
</div>

<main class="container">
  <form id="form" method="POST">
    Name: <br>
      <input type="text" name="name" placeholder="Full Name" size=15>
    <br>
    <br>
    E-Mail: <br>
      <input class="validate" type="email" name="from" placeholder="E-Mail" size=35>
    <br>
    <br>
    Date: <br>
      <input type="text" name="date" placeholder="MM/DD/YYYY" size=35>
    <br>
    <br>
    Content: <br>
      <textarea rows="10" cols="58" name="content" form="email-form" placeholder="Write your e-mail in here"></textarea>
    <br>            
    <br>
      <input class="btn waves-effect waves-light" type="submit" style="background-color: #CA1444; margin: 20px 0 100px 450px;">
    <br>
  </form>
</main>