<div class="row">
  <h1 class="heading center-align">Events</h1>
</div>

<main class="container">
  <div class="row">
    <div class="input-field col l8 push-l2">
      <input type="text" id="name">
      <label class="active" for="name">Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l4 push-l2">
      <input type="text" class="datepicker" id="date">
      <label type="text" for="date">MM/DD/YYYY<label>
    </div>

    <div class="input-field col l4 push-l2">
      <input type="email" id="email" class="validate">
      <label class="active" for="email">E-Mail</label>
    </div>

      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s8 push-l2">
              <textarea id="textarea" class="materialize-textarea"></textarea>
              <label for="textarea">Event Description</label>
            </div>
          </div>
        </form>
      </div>

        <button class="btn waves-effect waves-light col l4 push-l4" type="submit" name="action" style="background-color: #CA1444;">SUBMIT<i class="ion-paper-airplane"></i></button>
        <br>
        <br>
        <br>

  </div>
</main>