    <div class="row">
      <h1 class="heading center-align">Frequently Asked Questions</h1>
    </div>

<main class="container secondary faq">
  <ul> <h4 class="bold">Below are answers to some frequently asked questions–please feel free to Contact Us if you have any others!</h4>
  <br>
  <li class="bold">Do you offer gluten-free baked goods?</li>
    <p class="li-para">We currently are proud to offer a variety of gluten-free Cookies and also gluten-free chocolate Cupcakes with chocolate or vanilla buttercream!  And we hope to expand our gluten-free cake options as soon as we perfect additional recipes.  Please note, however, that while these items do not contain gluten in their recipes, we are not a gluten-free bakery so cannot guarantee that ingredients and utensils used to prepare such items have not come into contact with gluten.</p>
  <li class="bold">Are your products suitable for those with specific allergies?</li> 
    <p class="li-para">Our kitchen uses known allergens such as peanuts and tree nuts, wheat, soy, eggs and milk, so ingredients and utensils used to prepare your items may have come into contact with these products (even if you have selected flavors that do not include a particular ingredient in their recipes). In addition, it is impossible to guarantee that certain allergens have not “strayed” onto products that do not include a particular ingredient in their recipes.  Please Contact Us with inquiries regarding the inclusion of specific allergens in the recipes of specific items.</p>
  <li class="bold">How do I place an order?</li> 
    <p class="li-para">Most orders can easily be placed over the phone or by email (see below)–just let us know the date of your event, the number of servings desired, your budget, along with any of your ideas that you have in mind.  If you’d like to discuss a cake with a cake consultant in person, it’s best to make an appointment to set up a time to discuss your cake–these can also be set up by phone or email.</p>
  <li class="bold">When should I place my order?</li>
    <p class="li-para">For cakes without custom decoration, we recommend that orders be placed at least 24 hours in advance for Classic flavor cakes (and 48 hours in advance for Deluxe flavor cakes). If you need a cake immediately, we try to offer a variety of 8″ cakes available in our display case–please call for availability. For custom cakes, we recommend that you place your order two weeks in advance, depending on the level of complexity of your creation.  For a custom cake on shorter notice, please contact us to discuss your options; we do our best to accommodate last-minute custom orders, but we cannot guarantee availability as sometimes we are fully booked.</p>
  <li class="bold">Can I order online?</li>
    <p class="li-para">We’re working on building an online ordering system–stay tuned! In the meantime, you can always send us an order by emailing info@empirecake.com.</p>
  <li class="bold">Do you deliver?</li>
    <p class="li-para">For orders of $36 and over, delivery is available by a third-party courier for an additional fee starting at $30 in Manhattan (and starting at $35 to outer boroughs).  Delivery cost is based on the size of the order and distance; the delivery charge is confirmed in advance for your approval. 
    
    Notice of 24 hours is required to guarantee a delivery; if same-day delivery is necessary, please call to discuss potential availability.

    Our courier requires that you provide a three-hour window and the name of a contact person who will be on hand to accept delivery during that window.  If no one is available to receive a cake during that period, the cake will be returned to us and a second delivery will have to arranged (for an additional fee).

    Delivery is also available throughout the tri-state area–please inquire for a quote.</p>
  <li class="bold">Do you ship?</li>
    <p class="li-para">Unfortunately we cannot ship cakes or cupcakes at this time–they are too fragile!  Our snack cakes can be shipped priority overnight in some circumstances, but unfortunately the FedEx fees can be very steep!</p>
  <li class="bold">How do I order a custom decorated cake or cupcakes?</li>
    <p class="li-para">Custom designed cakes may be ordered over email or telephone (email is great for sharing design inspirations and images).  If you prefer, our cake consultants can meet and work with you in person at the bakery.  Please Contact Us in advance to arrange a time to ensure a consultant will be available to discuss your cake.</p>
  <li class="bold">What is the difference between a buttercream and fondant finished cake?</li>
    <p class="li-para">Buttercream is what you’ll commonly see on many traditional cakes.  It is made primarily of butter, egg whites and sugar.  At Empire Cake we make a Swiss Meringue Buttercream which has a silky, delicious taste and will allow for a nice, smooth finish on your cake.  Fondant is a sugary paste, with a taste similar to marshmallow, that can be rolled out into a thin layer then draped over the cake, creating a beautifully smooth cover.  Fondant can also be used to make figures and other decorations (polka dots, stars, flowers, etc.) that can be placed on any type of cake.  Only cakes frosted in buttercream or ganache may be covered in fondant; unfortunately cream cheese frosting will not support the fondant.  Please note that fondant is placed over a layer of frosting in the flavor of your choosing–and this, combined with the two layers of filling in your cake, means that a fondant-covered cake will still taste like your desired flavor.</p>
  <li class="bold">Are your cake decorations edible?</li>
    <p class="li-para">While fondant and sugar are edible, many cake decorations (especially three-dimensional ones) require structural supports that are inedible, as well as securing with inedible supports.  We recommend removing such decorations and keeping them as souvenirs of your celebration!</p>
  <li class="bold">Are you hiring or accepting interns?</li>
    <p class="li-para">We are often on the look-out for friendly, enthusiastic counter staff and baristas, as well as talented bakers and decorators. Please email your resume and a cover letter with some information about you and the position you seek.</p>
  <li class="bold">Can you color the frosting on my cake? And/or can you match this specific color?</li>
    <p class="li-para">Our vanilla buttercream can be colored with food dye (for a fee of $10), but we can only obtain pastel shades (and not medium to dark shades such as red, royal blue or navy blue).  If your cake flavor is not normally frosted in vanilla buttercream, you have the option of replacing the outer frosting with dyed vanilla buttercream.  Fondant-covered cakes can be prepared to match any shade.  In all cases, please note that we cannot guarantee exact matches to specific colors–for example, we can certainly provide “light pink,” but we cannot guarantee “Pantone 203”, in part because colors look different in various lighting and on different printers and computer screens.</p>

  </ul>

</main>