    <div id="main" class="row">
      <div class="main col l7">
        <a href="/cakes"><img id="cake-preview" src="images/cake-preview.jpg"></a>
      </div>
      <div class="secondary-previews">
        <a href="/muffins"><img id="muffin-preview" src="images/muffin-preview.jpg"></a>
        <br>
        <a href="/cookies"><img id="cookie-preview" src="images/cookie-preview.jpg"></a>
      </div>
    </div>
