    <div id="main" class="row">
      <div class="main col l7">
        <img id="cake-preview" src="images/cake-preview.jpg">
      </div>
      <div class="secondary-previews">
        <img id="muffin-preview" src="images/muffin-preview.jpg">
        <br>
        <img id="cookie-preview" src="images/cookie-preview.jpg">
      </div>
    </div>
