<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mariia's Shop</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300i,400,400i,700|Pacifico" rel="stylesheet">
  <link rel="shortcut icon" href="images/tab-logo.png" />
</head>
<body>
<nav style=" height: 64px; background-color: #F2A297; color: #CA1444; ">
    <div class="nav-wrapper">
      <a href="/" class="heading brand-logo" style="
    padding-left: 20px;">Mariia's</a> <img class="cake-logo" src="https://png.icons8.com/cotton/50/000000/cupcake-with-a-berry.png" >

      <div class="center secondary hide-on-med-and-down">
        
        
        <a class="menu" href="/shop">SHOP</a> &nbsp;&nbsp;&#9830;&nbsp;&nbsp;
        <a class="menu" href="/about">ABOUT</a> &nbsp;&nbsp;&#9830;&nbsp;&nbsp;
        <a class="menu" href="/events">EVENTS</a> 
      </div>
    </div>
  </nav>

  <%= yield %>

  <div id="footer" class="secondary row">
      <div class="col l3">&copy; 2018 MARIIA'S SHOP</div>
      <div class="col l3">
        <ul>
          <li><a href="/"><i class="icon ion-ios-home"> </i>HOME</a></li>
          <li><a href="/about"><i class="icon ion-ios-people"> </i>ABOUT</a></li>
          <li><a href="/events"><i class="icon ion-android-calendar"> </i>EVENTS</a></li>
          <li><a href="/catalog"><i class="icon ion-ios-paper-outline"> </i>CATALOG</a></li>
        </ul>
      </div>
      <div class="col l3">
        <ul>
          <li><a href="https://www.facebook.com/bakedlove/"><i class="icon ion-social-facebook"> </i>FACEBOOK</a></li>
          <li><a href="https://www.instagram.com/thecakebakeshop/?hl=en"><i class="icon ion-social-instagram-outline"> </i>INSTAGRAM</a></li>
          <li><a href="https://twitter.com/thecakebakeshop?lang=en"><i class="icon ion-social-twitter"> </i>TWITTER</a></li>
          <li><a href="facebook.com"><i class="icon ion-social-youtube"> </i>YOUTUBE</a></li>
          <li><a href="facebook.com"><i class="icon ion-social-googleplus"> </i>GOOGLE</a></li>
        </ul>
      </div>
      <div class="col l3">
        <ul>
          <li><a href="/faq"><i class="icon ion-help-circled"> </i>FAQs</a></li>
          <li><a href="/terms"><i class="icon ion-document-text"> </i>TERMS & CONDITIONS</a></li>
        </ul>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="main.js"></script>
  
</body>
</html>