    <div class="row">
      <h1 class="heading center-align">Muffins</h1>
    </div>


    <div class="content row">

    
      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/muffins/apple-pie-muffins.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Apple Pie Muffins</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $34.99 by the dozen / $2.99 per muffin
            </p>
          </div>
          <div class="card-reveal"  style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">
              Apple Pie Muffins
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>These buttery fruity muffins are ideal for dessert or fancy weekend breakfast treats.</p><br>
            <p>$34.99 by the dozen / $2.99 per muffin</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/muffins/blueberry-muffins.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Blueberry Muffins</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $34.99 by the dozen / $2.99 per muffin
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">
              Blueberry Muffins
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>These muffins are extra large and yummy with the sugary-cinnamon crumb topping.</p><br>
            <p>$34.99 by the dozen / $2.99 per muffin</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/muffins/carrot-muffins.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Carrot Cake Muffins</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $34.99 by the dozen / $2.99 per muffin
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Carrot Cake Muffins
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Truth be told, carrot cake gets me every single time. I fell in love with it a few years ago and my craving for cake has quadrupled since then. I can’t get over the spices, flavor, and that thick-n-creamy cream cheese frosting that pairs so wonderfully with the cake.</p><br>
            <p>$34.99 by the dozen / $2.99 per muffin</p>
          </div>
        </div>
      </div>


    </div>

    <div class="content row">


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/muffins/cherry-creamcheese-muffins.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Cherry Muffins</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $34.99 by the dozen / $2.99 per muffin
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Cherry Muffins
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>A damn good streusel topped cherry muffins.</p><br>
            <p>$34.99 by the dozen / $2.99 per muffin</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/muffins/coconut-muffins.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Coconut Muffins</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $34.99 by the dozen / $2.99 per muffin
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Coconut Muffins
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Muffins loaded with coconut are one my favorite muffins for an easy breakfast or a sweet treat late at night. </p><br>
            <p>$34.99 by the dozen / $2.99 per muffin</p>
          </div>
        </div>
      </div>


      <div class="col l3 push-l1">
        <div class="card hoverable large" style="background-color: #F2A297; color: #CA1444;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/muffins/coffee-cake-muffins.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator outline" style="font-family: 'Pacifico', cursive;">
              <p>Coffee Cake Muffins</p><br><br>
              <i class="right icon ion-android-more-vertical"></i>
            </span>
            <p>
              $34.99 by the dozen / $2.99 per muffin
            </p>
          </div>
          <div class="card-reveal" style="background-color: #F2A297; color: #CA1444;">
            <span class="card-title outline" style="font-family: 'Pacifico', cursive;">Coffee Cake Muffins
              <i class="right ion-ios-close-outline"></i>
            </span>
            <p>Coffee Cake Muffins, with its sweet center and crumble topping, make a great dish to serve at a brunch, or bring to a potluck.</p><br>
            <p>$34.99 by the dozen / $2.99 per muffin</p>
          </div>
        </div>
      </div>


    </div>