    <div class="row">
      <h1 class="heading center-align">Shop</h1>
    </div>

  <div class="content row">

    <div class="col l3 push-l1">
      <a href="/cakes">
      <div class="card hoverable" style="background-color: #F2A297; color: #CA1444;">
        <div class="card-image">
          <img src="images/cakes/vanilla-white-cake.jpg">
          <span class="card-title outline" style="font-family:'Pacifico', cursive;">Cakes</span>
        </div>
        <div class="card-content">
          <p>Absolute freshness is the trademark of Mariia's cakes. Each cake is carefully handcrafted from the freshest, select ingredients in order to express the flavors in their natural essence. Please enjoy our original recipes to which we devoted our time and care. We believe the result is simply the best.</p>
        </div>
      </div>
      </a>
    </div>

    <div class="col l3 push-l1">
      <a href="/muffins">
      <div class="card hoverable" style="background-color: #F2A297; color: #CA1444;">
        <div class="card-image">
          <img src="images/muffins/coconut-muffins.jpg">
          <span class="card-title outline" style="font-family:'Pacifico', cursive;">Muffins</span>
        </div>
        <div class="card-content">
          <p>Absolute freshness is the trademark of Mariia's muffins. Each muffin is carefully handcrafted from the freshest, select ingredients in order to express the flavors in their natural essence. Please enjoy our original recipes to which we devoted our time and care. We believe the result is simply the best.</p>
        </div>
      </div>
      </a>
    </div>

    <div class="col l3 push-l1">
      <a href="/cookies">
      <div class="card hoverable" style="background-color: #F2A297; color: #CA1444;">
        <div class="card-image">
          <img src="images/cookies/fudge-chocolate-cookies.jpg">
          <span class="card-title outline" style="font-family:'Pacifico', cursive;">Cookies</span>
        </div>
        <div class="card-content">
          <p>Absolute freshness is the trademark of Mariia's cookies. Each cookie is carefully handcrafted from the freshest, select ingredients in order to express the flavors in their natural essence. Please enjoy our original recipes to which we devoted our time and care. We believe the result is simply the best.</p>
        </div>
      </div>
      </a>
    </div>

  </div>