<div class="row">
  <h1 class="heading center-align">Terms and Conditions</h1>
</div>
<main class="container secondary faq">
<ul>
  <li class="bold">General Information</li>
    <p class="li-para">Helen Bernhard Bakery respects the privacy of our customers, business partners, employees and job applicants and other visitors to our websites who may choose to provide personal information. We recognize the need for appropriate protections and management of personal information that you provide to us. This Privacy Statement will assist you in understanding what types of information we may collect, how that information may be used, and with whom the information may be shared.</p>

  <li class="bold">When Ordering</li>
    <p class="li-para">All custom decorated orders are to be paid in full when the order is placed either by phone or in person at the bakery. All online orders for In-Store pickup are paid in advance in full online when order is placed on www.helenbernhardbakery.com.</p>

  <li class="bold">Refund/Exchange Policy</li>
    <p class="li-para">We take pride in our desserts and cakes. If you are unhappy with your order and/or purchase, immediately notify us (within 24 hours of pick-up) of your concern and return your dessert to us. We will give you credit for the amount returned for use toward a future purchase. All refunds will be provided as a credit to the credit card used or an in-store credit, i.e. Helen Bernhard Bakery Gift Card within five (5) business days upon receipt of the returned merchandise.  You must bring receipt of purchase with you.</p>

  <li class="bold">Order Cancellation Policy</li>
    <p class="li-para">Helen Bernhard Bakery understands that plans change and we will gladly assist you in making changes to your order date and time whenever possible. We accept weekday cancellations by phone or email (helenbernhard@aol.com) prior to 2:00 pm, 2 business days before your event. All changes must be handled directly with a representative of Helen Bernhard Bakery and confirmed. Helen Bernhard Bakery reserves the right to charge a cancellation fee if insufficient time is given, as stated above, due to costs incurred in the purchase, priority and preparation of the order. Charges for cancellations after the above time will be as follows: 25% of the entire order will be charged for cancellations 24 hours prior to the event and 100% of the entire order will be charged for canceling the order after that time. It is entirely up to Helen Bernhard Bakery discretion, to change or otherwise offer any other options to the customer. Special orders (Highly Decorated Cakes) that are not picked up will NOT be refunded. Orders that require delivery and cannot be delivered due to customer’s wrong information or availability will be taken back to Helen Bernhard Bakery and stored until further notice from customer. Should you require a future delivery date, you will be held responsible for an additional delivery charge. Because of the nature of our business and our quality and freshness assurance, we will dispose of any cake, cupcake, baked item that is not picked up or delivered within 48 hours after the due time and you will NOT be refunded due to the above rules. To see the bakeries “Holiday Hours” please refer to the Holiday Calendar.</p>

  <li class="bold">Wedding & Grooms Cake Cancellation Policy</li>
    <p class="li-para">Wedding deposits are non-refundable & non-transferable (Deposit is deducted from the wedding cake balance only). Any Wedding or Groom’s cake orders cancelled 2 weeks prior to your wedding date will receive only a 75% refund on any payments made after the deposit. Any Wedding or Groom’s cake orders cancelled less than 1 week prior to your wedding date will receive a  no refunds on any payments made after the deposit.</p>

  <li class="bold">Change Order</li>
    <p class="li-para">There will be a $15 Change Order fee for any changes that are requested within 24 hours of the time required.</p>

  <li class="bold">Highly Decorated Cake Orders</li>
    <p class="li-para">Highly decorated cakes include wedding cakes, grooms cakes, sculpted cakes and cut-out cakes. The latest time available to order a Highly Decorated cake is the Wednesday prior to the weekend required at noon. The above Order Cancellation Policy will apply for those situations. During peak holiday season Helen Bernhard Bakery reserves the right to adjust the cut-off date if orders have exceeded our production capabilities.</p>

  <li class="bold">Decorations and Coloring</li>
    <p class="li-para">We have highly skilled decorators.  We will do our best to match any requested color or design.  We are limited to the fact that we are dealing with icing that can fade do to light and temperature so we do not garauntee an exact match.  Also do to the nature of drawings, we will make our best representation of what is requested but are again limited by the nature of our product.</p>

  <li class="bold">Image editing</li>

    <p class="li-para">We do not offer touch up or color adjustments.  Minor cropping may occur in order to fit image to cake/space available.</p>

  <li class="bold">Copyright</li>

    <p class="li-para">Copyright images will not be printed.  In order for copyright images to be reproduced, authoritative letters from governing body to whom the image has been copyrighted to will be requested and needed upon placement of order.</p>

  <li class="bold">Additional Notes</li>

    <p class="li-para">Image will be printed as on a “what is given” basis.
    Images are reproduced using edible ink food colors and therefore some distortion in the color from the original image is possible
    Edible image quality will depend on the image size and quality of the original photo provided.<br>
    Please bring in copy of image.  We cannot guarantee return of image in exact condition.  If image is lost or damaged we claim no responsibility for replacement or restoration of original image.</p>

  <li class="bold">1/2 Price Sunday Product</li>

    <p class="li-para">Any product purchased on Sunday at 1/2 price is sold as is.  It cannot be returned or refunded.  This product has been stored for an extended period of time and we will not guarantee freshness or moisture of the cake and icing.  There also may be some damage to decoration.
    We sell product at 1/2 price on a first come, first serve basis.  Call ahead for 1/2 price merchandise is not allowed.</p>

  <li class="bold">Shipping Policy</li>

    <p class="li-para">Helen Bernhard Bakery takes great pride in Products. Please be advised that UPS DOES NOT deliver to APO/FPO or other Military addresses. The person you are shipping to can expect their Product to arrive by 3:00pm or 4:30pm the next business day to commercial destinations if requested to ship UPS Red. End of day to residential locations. Friday Shippers for a Saturday delivery require an additional $15 charge added at checkout! Place Orders to multiple locations separately. PLEASE INFORM THE RECIPIENT TO EXPECT SHIPMENT! Delays resulting from inclement weather are not covered. Once a delivery has been attempted (a call tag left) delays resulting from setting up a second delivery attempt or pick-up are not covered. We offer two options for delays resulting from the shipper. Please be mindful that if the bakery runs into issues baking your product in time for UPS delivery we may have to ship on the next available ship day.<br>
    <br>
    1) Refund shipping charges if you wish to keep the Product or<br>
    <br>
    2) Product reshipped if you wish to return the delayed cake but not necessary due to possible spoilage.<br>
    <br>
    If the product is damaged in shipping, we will gladly process a damage claim with UPS. Claims must be made within 5 days of receipt. The shipping company may require that the damaged product, box & all items included in package be picked up for inspection; so please do not discard the box, product or any of its contents. Damage & unsuccessful deliveries are not common – ONLY 1 – 1.5 % claims are processed per season from all of the cakes that we ship. No refunds are given for incomplete or wrong addresses. Packages left at the door – sometimes a shipper will leave the package at the door if they determine it is safe. Apartments, Condos, Dormitories, Hotels, Hospitals – shipments are usually directed to a complex office or receiving department which may result in delays. We recommend letting the recipient know they will be receiving a package so they can be on the look-out for it. No refunds are given due to this delay. No deliveries are accepted at Military Bases or P.O. Boxes. Deliveries to extended delivery areas are not guaranteed. International deliveries are not recommended because of the distance of travel for a perishable item. Products are perishable food items and therefore cannot be returned. Credit card authorization and verification must be received prior to processing an order. UPS shipments occur Tuesday through Friday, excluding holidays for Next Day Air delivery unless otherwise noted i.e, Ground Shipment. Additional questions or problems may be directed to our shipping department and will be handled on individual basis according to our store policy.<br>
    <br>
    PLEASE NOTE: Out of state orders WILL NOT be charged sales tax.</p>

  <li class="bold">Out of Stock Policy</li>

    <p class="li-para">Our stock fluctuates throughout the day with sales demand and stock that we receive from vendors. If an item you ordered is out of stock, we will first try to contact the customer either by phone or via email. We will give you other comparable choices to choose from.</p>

  <li class="bold">What personal information does Helen Bernhard Bakery collect?</li>
    <p class="li-para">Personal Information is information that can be used to identify or contact a specific individual, such as a name, address, telephone number or email address. Helen Bernhard Bakery may collect certain personal information from customers, business partners, employees and candidates for employment. Helen Bernhard Bakery does not collect personal information when you visit Helen Bernhard Bakery’s web sites unless you choose to provide such personal information. No credit card information is stored on Helen Bernhard Bakery website. Credit card information that is given by phone is destroyed immediately after approval and processing.</p>

  <li class="bold">How does Helen Bernhard Bakery use personal information?</li>
    <p class="li-para">Helen Bernhard Bakery will use personal information to provide customers and business partners with information and services and to help us better understand your needs and interests. Specifically, we use your information to help you complete a transaction or order, to communicate with you, to deliver products/services to you, to bill you for products/services you purchased, and to provide ongoing service and support. Occasionally we may use your information to contact you for marketing and quality assurance purposes. Personal information collected online may be combined with information you provide to Helen Bernhard Bakery through other sources such as trade shows and/or our advertising campaigns.</p>

  <li class="bold">With whom does Helen Bernhard Bakery share personal information?</li>
    <p class="li-para">Helen Bernhard Bakery will not share personal information with third parties. Helen Bernhard Bakery will not sell, trade or lease your personal information to others. We respect and are committed to protecting your privacy. We may collect personally identifiable information when you visit our site. We also automatically receive and record on our server logs from your browser including your IP address, cookie information and the page(s) you visited. We will not sell your personally identifiable information to anyone.</p>

  <li class="bold">Choice and Consent</li>
    <p class="li-para">Helen Bernhard Bakery does not require that customers, business partners or visitors to Helen Bernhard Bakery websites provide any personal information. The decision to provide personal information is voluntary. In some instances, if you do not wish to provide the personal information requested, you may not be able to proceed with the activity or receive the benefit for which the personal information is being requested.</p>

  <li class="bold">Security of Personal Information</li>
    <p class="li-para">Helen Bernhard Bakery is committed to taking reasonable efforts to secure the personal data you choose to provide us. To protect the privacy of any personal information you may have provided, Helen Bernhard Bakery employs reasonable security measures to prevent unauthorized access including Internet firewalls and anti-virus protection. No data transmission over the Internet or any wireless network can be guaranteed to be perfectly secure. Your payment and personal information is always safe. Our Secure Sockets Layer (SSL) software is the industry standard and among the best software available today for secure commerce transactions. It encrypts all of your personal information including credit card number, name and address, so that it cannot be read over the internet. Only those employees who need access to our users’ information in order to do their jobs are allowed access. Employees who violate our privacy policy are subject to disciplinary action.</p>

  <li class="bold">Other Information/Logging and Cookies</li>
    <p class="li-para">Like many other web sites, we use “cookie” technology to improve your experience at our site. Cookies are small pieces of data that are placed in your computer’s browser to store your preferences. When you visit a web site, a message is sent back to the web server by the browser accessing the web site. You may elect not to accept cookies by changing the designated settings on your web browser. However, not utilizing cookies may prevent you from using certain functions and features of web sites.</p>

  <li class="bold">Links to Non-Helen Bernhard Bakery Web Sites and Third Parties</li>
    <p class="li-para">Helen Bernhard Bakery web sites may provide links to third-party web sites for your convenience and information. If you access those links, you will leave Helen Bernhard Bakery web site. Helen Bernhard Bakery does not control those sites or their privacy practices, which may differ from Helen Bernhard Bakery’s. We do not endorse or make any representations about third party web sites. The personal data you choose to give to unrelated third parties is not covered by Helen Bernhard Bakery’s Privacy Statement. We encourage you to review the privacy policy of any company before submitting your personal information. Some third party companies may choose to share their personal data with Helen Bernhard Bakery that sharing is governed by that third party company’s privacy policy.</p>

  <li class="bold">On-Line Policy Only</li>
    <p class="li-para">This Privacy Policy applies only to information collected through this site. It does not apply to any information collected or disseminated by any other method. Helen Bernhard Bakery reserves the right to change this privacy policy at any time. Be sure to check this page periodically for updates. This policy applies only to personal information collected online at the www.helenbernhardbakery.com and does not apply to information collected offline by Helen Bernhard Bakery.</p>

  <li class="bold">Please be sure to read this Privacy Policy before using or submitting information to us.</li>
    <p class="li-para">Your use of this web site is subject not only to the terms of the Privacy Policy, but also to this site’s Terms of Use. This Privacy Policy is subject to change from time to time, so please check back periodically. By accessing and using our web site, and by providing us with your information, you agree to be bound by this Privacy Policy. If you do not agree to this Privacy Policy, please do not use our site. Your continued use of our site following the posting of changes to these terms will mean you accept those changes.</p>

  <li class="bold">Children Under 13</li>
    <p class="li-para">We have no way of distinguishing the age of individuals who access our Website, and so we carry out the same Privacy Policy for individuals of all ages. If a child has provided us with personally-identifying information without parental or guardian consent, the parent or guardian should contact us to remove the information and opt out of promotional opportunities.</p>

  <li class="bold">Access and Opting Out</li>
    <p class="li-para">You may, at any time, remove your personal identifying information from our current customer database. If you have submitted personal identifying information to us and you wish to have it removed from our records, if you have other questions about this policy, the information you have provided to us, or wish to notify us that you do not want your information shared with unaffiliated third parties, please contact us at:</p>  

  <li class="bold">Contact Information</li>
    <p class="li-para">Any questions regarding this Privacy Statement or if you believe that the privacy of your personal information has not been respected, you may make a written submission to the attention of Helen Bernhard Bakery, LLC. , Snaadt Ventures LLC 1717 NE Broadway Portland, OR 97232 or email us at helenbernhard@aol.com.</p>

  <li class="bold">Changes to this Statement</li>
    <p class="li-para">Please note that this Policy may be subject to modifications from time to time. Any significant changes to this policy will be posted here. Helen Bernhard Bakery encourages you to periodically review this policy to be informed of how we collect, use and protect your information.</p>
</ul>
</main>