<main class="center container heading">
<h1>Thank you for subscribing for our catalog, check your e-mail.</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="images/thumbs-up.gif" height="600" width="800">
<br>
<br>
<br>
<br>
<br>
<br>
</main>
