<main class="center container heading">
<h1>Thank you for planning an event with Mariia's, We will guarantee a great time for you and all your guests.</h1>
<br>
<h2>Remember to stay SWEET! ;)</h2>
<br>
<br>
<br>
<br>
<img src="images/thumbs-up.gif" height="600" width="800">
<br>
<br>
<br>
<br>
<br>
<br>
</main>
