#header {
  background-color: #F2A297;
  height: 85px;
  width: 100%;
  padding: 10px 10px 10px 0;
  margin-bottom: 0;
}

.heading {
  font-family: 'Pacifico', cursive;
  color: #CA1444 !important;
}
.secondary {
  font-family: 'Josefin Slab', serif;
}
.cake-logo {
  position: absolute;
  margin-left: 150px;
  margin-top: 2px;
}
.main {
  padding: 7px 0 !important;
}

#cake-preview {
  padding: 0 7px; 
  width: 920px;
  height: 700px;
}
#muffin-preview {
  padding: 0 7px; 
  width: 525px;
  height: 393px;
  margin-left: 74px;
}
#cookie-preview {
  padding: 0 7px; 
  width: 525px;
  height: 299px;
  margin-left: 74px;
}
.secondary-previews {
  padding: 7px 0 !important;
  padding-left: 50px; 
}

body {
  background-color: #F7DAC3;
  margin: 0;
  font-family: 'Josefin Slab', serif;
}
.mid {
  text-align: center;
}
.nav {
  font-size: 30px;
  padding-top: 10px !important;
}
.right-side {
  float: right;
}

.left-side {
  padding-left: 0px;
  font-size: 40px;
}

#footer {
  background-color: #F2A297;
  color: #CA1444;
  font-weight: 700;
  width: 100%;
  padding: 30px 10px 10px 0;
  margin-bottom: 0;
}

a {
  color: inherit !important;
}

#main {
  margin-bottom: 0;  
}
.chef {
  float: left;
  width: 300px;
  height: 370px;
  border: 2px solid #CA1444;
  margin-right: 15px;
}
.chef2 {
  float: right;
  width: 320px;
  height: 390px;
  border: 2px solid #CA1444;
  margin-left: 15px;
}

.faq {
  font-size: 20px;
  padding-bottom: 50px;
}
.bold {
  font-weight: 700;
}
.li-para {
  padding-left: 50px;
  padding-bottom: 20px; 
}
.content {
  padding-left: 100px !important;
}

.menu {
  font-size: 25px;
  color: #CA1444;
}